.venv/
.idea/
**/__pycache__/
**/.pytest_cache/
/.ipynb_checkpoints/
**/output/
**/.DS_Store
*.pyc
.env
dist
pipeline.lock
**/node_modules/
**/logs/
**/*.pdf
coverage/
.gitnexus
.claude/skills/*
.scannerwork
coverage.xml
.coverage