database:
  # DEFAULT only. In Docker, this is overridden by DATABASE_URL env var.
  url: "postgresql://user:password@localhost:5432/jobscout"

jobspy:
  # DEFAULT only. In Docker, this is overridden by JOBSPY_URL env var.
  url: "http://localhost:8000" 

etl:
  llm:
    # DEFAULT only. In Docker, this is overridden by ETL_LLM_BASE_URL env var.
    base_url: "http://localhost:11434/v1" # Use local installation of ollama over docker virtualization. Docker can't use GPU on Apple Silicon at time of writing. 
    api_key: "ollama" # Dummy key for local Ollama
    
    # Extraction
    extraction_url: "" # Not used for Ollama/OpenAI
    extraction_type: "ollama" # Use "openai", "ollama" or "mock"
    extraction_model: "qwen3:14b"
    
    # Embedding
    embedding_model: "qwen3-embedding:4b"
    embedding_dimensions: 1024 # Embedding Dimension: Up to 2560, supports user-defined output dimensions ranging from 32 to 2560 (https://huggingface.co/Qwen/Qwen3-Embedding-4B)
    
    extraction_labels:
      - "programming_language"
      - "framework"
      - "tool"
      - "platform"
      - "skill"
      - "experience_years"
      - "education_degree"
      - "certification"
      - "responsibility"
      - "benefit"

schedule:
  interval_seconds: 3600  # Run every hour

scrapers:
  - site_type: ["tokyodev"]
    search_term: ""
    results_wanted: 1
    options:
      japanese_requirements: ["none"]
      seniorities: ["intern", "junior", "intermediate"]
      
  - site_type: ["japandev"]
    search_term: ""
    results_wanted: 1
    options:
      japanese_levels: ["japanese_level_not_required"]
      seniorities: ["seniority_level_junior", "seniority_level_mid_level"]
      applicant_locations: ["candidate_location_anywhere"]

  - site_type: ["indeed"]
    search_term: "software engineer"
    location: "Tokyo"
    country: "Japan"
    results_wanted: 1
    hours_old: 168 # 24 * 7
  
  - site_type: ["glassdoor"]
    search_term: "software engineer"
    location: "Tokyo"
    results_wanted: 1
    hours_old: 168
    request_timeout: 300 # 5 mins

  - site_type: ["linkedin"]
    search_term: "software engineer"
    location: "Tokyo"
    results_wanted: 1
    hours_old: 168
    linkedin_fetch_description: True
